/*


!.gitignore
!.gitconfig
!.zshrc
!.clang-format


!.oh-my-zsh
.oh-my-zsh/*
!.oh-my-zsh/zsh_conf.zsh


!go
go/*
!go/go_conf.zsh


!.vim
.vim/*
!.vim/vim_conf.zsh


!.config
.config/*
!.config/.tmux
!.config/htop
!.config/nnn
.config/nnn/*
!.config/nnn/nnn_conf.zsh

!.config/deprecated
.config/deprecated/*
!.config/deprecated/karabiner
!.config/deprecated/ranger
!.config/deprecated/spacebar
!.config/kitty
!.config/zsh
.config/zsh/*.sh
.config/zsh/systags
.config/zsh/gotags
.config/zsh/fig-bak
