/*


!.gitignore
!.gitconfig
!.zshrc
!.clang-format


!.oh-my-zsh
.oh-my-zsh/*
!.oh-my-zsh/zsh_conf.zsh


!go
go/*
!go/go_conf.zsh


!.vim
.vim/*
!.vim/vim_conf.zsh


!.config
.config/*
!.config/.tmux
!.config/htop

!.config/karabiner
.config/karabiner/*
!.config/karabiner/karabiner.json
!.config/kitty
!.config/nnn
!.config/ranger
!.config/skhd
!.config/yabai

!.config/zsh
.config/zsh/*
