/*


!.gitignore
!.gitconfig
!.zshrc
!.clang-format
!.npmrc
!.hushlogin
!.tmux.conf


!.config
.config/*
!.config/tmux
!.config/btop
!.config/ideavim
!.config/joshuto
!.config/kitty
!.config/sketchybar
!.config/skhd
!.config/yabai
!.config/yazi
!.config/zsh
