let mapleader=' '
set scrolloff=5
set hlsearch
set incsearch
set ignorecase
set smartcase
nnoremap <leader><enter> :nohlsearch<CR>

nnoremap J 5j
nnoremap K 5k
nnoremap H 0
nnoremap L $

vnoremap > >gv
vnoremap < <gv
nnoremap < <<
nnoremap > >>

nnoremap cp :vert diffsplit<space>
nnoremap vs :vsplit<CR>

nnoremap nf :tabnew .<CR>
nnoremap tb :tabe<CR>
nnoremap th :-tabnext<CR>
nnoremap tl :+tabnext<CR>

nnoremap <ctrl>h <C-w>h
nnoremap <ctrl>l <C-w>l
nnoremap <ctrl>j <C-w>j
nnoremap <ctrl>k <C-w>k

nnoremap <ctrl>f :vertical resize+5<CR>
nnoremap <ctrl>b :vertical resize-5<CR>
